In [1]:
import pandas as pd
import numpy as np
from everyone_anonymouse import something_nothing as sn

In [2]:
# Create first party PII dataset.
data = {
            'First_Name': [],
            'Last_Name': [],
            'Email': []
        }

test_data = sn(data,20)
df = pd.DataFrame(test_data.generate_data())
df.head()

  First_Name   Last_Name                      Email
0    Meghana      Khalil    MeghanaKhalil@gmail.com
1    Deandre      Lucero    DeandreLucero@gmail.com
2      Anaya  Alexandrea  AnayaAlexandrea@gmail.com
3      Rylen       Arian       RylenArian@gmail.com
4    Bennett        Lana      BennettLana@gmail.com

In [3]:
# hash emails
arr_hash = test_data.hash()
arr_hash

[2364978621811274166,
 2197063933556954979,
 -1157944919724198811,
 -4851011630246148361,
 -4505844475157608346,
 -1253530084062219134,
 2874055422137780032,
 -4649900244482509155,
 -4847974159717497860,
 -9098021523842080049,
 -3601254883950019675,
 4345017634281998184,
 7475344768040886534,
 -1745912769518038443,
 8913779869771400204,
 3435458913030101555,
 799507937984024733,
 -8920953607660444386,
 -3095173394116632827,
 -2758050172491215591]

In [4]:
email = test_data.generate_data()
matched_email = test_data.match(arr_hash[0],email)
print('Email that is matched: '+str(matched_email))
for i in email['Email']:
    if i == matched_email:
        email_ = i
print('Email to match: '+str(email_))

Email that is matched: MeghanaKhalil@gmail.com
Email to match: MeghanaKhalil@gmail.com